body{
  color: red;
}



$width-small-start:   320px;
$width-small:         640px;
$width-medium-start:  641px;
$width-medium:        768px;
$width-large-start:   769px;


$breakpoint-sm: 'only screen and (min-width: #{$width-small-start})' !default;
$breakpoint-md: 'only screen and (min-width: #{$width-medium-start})' !default;
$breakpoint-lg: 'only screen and (min-width: #{$width-large-start})' !default;
